* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'mechanismoregular';
    src: url('./font/mechanismoregular-p7ywa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'mechanismoregular', sans-serif;
}

body {
    margin: 0;
    display: flex;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
}

#text-msg {
    max-height: 90px;
    max-width: 350px;
    height: 100%;
    width: 100%;
    padding: 0.5em;
    margin: 1em;
    resize: none;
    font-family: 'mechanismoregular', sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

#btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid #911D21;
}

#btn:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* After the btn click , this class will be added to body */

.fun {
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}